default:
    suites:
        default:
            paths:
                - "%paths.base%/Resources/features"
            contexts:
                - Doyo\Bridge\CodeCoverage\Context\ContainerContext
                - Doyo\Bridge\CodeCoverage\Context\CoverageContext

    extensions:
        Doyo\Behat\CodeCoverage\Extension:
            filter:
                - directory: ""
                  exclude:
                      - Spec
                      - Resources
                      - Context
                      - vendor
                      - build
                      - file: RoboFile.php
            reports:
                php: build/cov/02-behat.cov
                html: build/behat