default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:system
                - FeatureContext

    extensions:
        Behat\MinkExtension:
            sessions:
                default:
                    goutte:
            base_url: http://example.org
        Behatch\Extension: ~
        Doyo\Behat\Coverage\Extension:
            drivers:
                - console
            filter:
                - directory: src/*.php
                  exclude:
                      - src/Resources
            report:
                php: build/cov/behat.cov
                html:
                    target: build/behat
                    lowUpperBound: 30
                    highLowerBound: 90
