formatter.name: pretty
suites:
    doyo_behat:
        namespace: Doyo\Behat\Coverage
        psr4_prefix: Doyo\Behat\Coverage

extensions:
    Doyo\PhpSpec\CoverageExtension:
        whitelist:
            - src
        format:
            - php
            - html
        output:
            php: build/cov/03-phpspec.cov
            html: build/phpspec
